<!DOCTYPE html>
<html>
<head>
    <title>Coffee nice</title>
    <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo[moonlight].css")"  rel=" stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.default.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.common-bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.dataviz.bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/kendo/2015.2.902/jquery.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2015.2.902/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.2.902/kendo.web.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2015.2.902/kendo.aspnetmvc.min.js")"></script>
<style type="text/css">
      .k-button{
            width:200px;
            height:50px;
            background-color: blanchedalmond;
            border-color:teal;
            text-align:center;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 16px;
            font-weight: bold;
        }

        h3{
            text-align:center;
            color: #26A334;
            font-family: 'Arial Rounded MT';
            font-style: oblique;
            font-size:22px;
            color:#902d09; 
        }
        
    h2 {
        text-align: center;
        font-family: 'Arial Rounded MT';
        font-style: oblique;
        font-size: 18px;
        color: #004700;
    }
    
    body {
    background-image: url(Content/Image/VyypgtS7RSU.jpg);
    background-size: 250px 200px;
    background-color:#3b3233;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom; 
}
</style>

</head>
 <body>
    @RenderBody()

</body>
</html>


